*.DS_Store
*__pycache__

# TeX byproducts
*.dvi
*.aux
*.out
*.log

*localoverrides.py

*tempCDI.xml
/*.bad_json.txt
/settings.json
/.vscode/settings.json
# ^ /.vscode/settings.json is ignored since it may have python.defaultInterpreterPath with differs depending on the specific machine. Recommended: place that setting in there ("PythonOlcbNode Folder" tab in VSCode settings)